@charset "utf-8";
body h1 {
    color: #FF2124;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 40px;
    border-width: 0px;
    border-style: none;
}
body p img {
    border: 10px dashed #1837BD;
}
